.my-structure--article {
    padding: 2rem;
    width: calc(100% - 4rem);
}

.my-structure--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.my-structure--card {

}